# Environments
.env
venv/
env/
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Output directories
camera_frames/
motion_detected/

# Analysis history
*/.analysis_history.json
.analysis_history.json

# Logs
*.log

# media
*.mp4
*.jpg
*.png
*.jpeg